.container{
    padding: 20px;
    display:flex;
}

.leftContainer{
    width: 75%;
}

.leftContainer img{
    width: 100%;
    object-fit:cover;
}

.rightContainer{
    width:25%;
    margin-left: 10px;
}