.checkoutButton{
    background-color:orange;
    padding:5px;
    border:none;
    border-radius: 5px;
    width:100%;
}

.checkoutButton:hover{
    background-color:white;
    color:orange;
    cursor: pointer;
}

.container{
    padding:10px;
    line-height: 30px;
    border: solid orange 1px;
    background-color: rgb(219, 215, 215) !important;
}

section > span{
    margin-left: 4px;
}